<% if notice %>
  <p id="notice" ><%= notice %></p>
<% else %>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<% end %>
<%= link_to 'Edit', edit_product_url(@product.id) %> |
<%= link_to 'Back', products_path %>
